.smallText {
  font-size: 12px;
  letter-spacing: 0.6px;
}
.myBadge {
  background-color: #f2e0fb;
  color: #5e3e90;
  border: none;
  letter-spacing: 0.3px;
}
.modalBtn {
  background-color: #f2e0fb;
  color: #5e3e90;
  border: none;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 10px;
}

.modal.right .modal-dialog {
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}
 
.modal.right.fade .modal-dialog {
  /* right: -100px; */
  -webkit-transition: opacity 0.3s linear, right 2s ease;
  -moz-transition: opacity 0.3s linear, right 2s ease;
  -o-transition: opacity 0.3s linear, right 2s ease;
  transition: opacity 0.3s linear, right 2s ease;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}
