body{
    background-color: #dadada;
}
.titleName{
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: #5e3e90;
    /* color: rgba(245, 245, 245, 0.786); */
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb {
	background-color: #999999;
}